version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Berlin"
    groups:
      minor-patch-upgrades:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      aws-major-upgrades:
        patterns:
          - "aws*"
        update-types:
          - "major"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Berlin"
    groups:
      github-action-upgrades:
        patterns:
          - "*"
