name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - uses: Swatinem/rust-cache@v2
      - name: Check formatting
        run: cargo fmt -- --check
      - name: cargo check
        run: cargo check
      - name: cargo clippy
        run: cargo clippy # -- -D warnings <- clippy & compiler are not in sync
      - name: Build
        run: cargo build --locked
      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@v2.4.3
        with:
          compose-file: "./docker-compose.yml"
      - name: Install cargo-nextest
        run: cargo install cargo-nextest --locked
      - name: Test
        run: cargo nextest run --profile ci
