name: Release version

on:
  pull_request:
    types:
      - closed

jobs:
  build:
    if: startsWith(github.head_ref, 'release/') && github.event.pull_request.merged == true
    name: Build ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Build
        id: build
        run: |
          rustup target add ${{ matrix.platform.target }}
          cargo install cargo-get
          echo "version=$(cargo get package.version)" >> $GITHUB_OUTPUT
          cargo build --target ${{ matrix.platform.target }} --release
          mv target/${{ matrix.platform.target }}/release/kiek kiek
      - name: Codesign for macOS
        if: matrix.platform.os == 'macos-latest'
        run: |
          cargo install apple-codesign
          echo "${{ secrets.APPLE_CODESIGN_PRIVATE }}" > apple-codesign-private.pem
          rcodesign sign --pem-source apple-codesign-private.pem --certificate-der-file .github/workflows/files/developerID_application.cer --code-signature-flags runtime kiek
          rm apple-codesign-private.pem
      - name: Generate shell completions
        run: ./kiek completions
      - name: Package
        run: |
          tar -czf kiek-${{ matrix.platform.target }}.tar.gz completions kiek
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: kiek-${{ matrix.platform.target }}
          path: kiek-${{ matrix.platform.target }}.tar.gz
    outputs:
      version: ${{ steps.build.outputs.version }}
  release:
    name: Create Github release
    if: startsWith(github.head_ref, 'release/') && github.event.pull_request.merged == true
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v5
      - name: Prepare artifacts
        run: |
          mv kiek-aarch64-apple-darwin/kiek-aarch64-apple-darwin.tar.gz .
          mv kiek-x86_64-unknown-linux-gnu/kiek-x86_64-unknown-linux-gnu.tar.gz .
      - name: Tag the commit
        run: |
          git config user.name "Christoph Wulf"
          git config user.email "christoph@wulf.technology"
          next_version='${{needs.build.outputs.version}}'
          git tag -a "v$next_version" -m "Version $next_version"
          git push --follow-tags
      - name: Release
        id: release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          name: Release ${{needs.build.outputs.version}}
          generate_release_notes: true
          tag_name: v${{needs.build.outputs.version}}
          make_latest: true
          files: |
            kiek-aarch64-apple-darwin.tar.gz
            kiek-x86_64-unknown-linux-gnu.tar.gz
      - name: Prepare Homebrew formula
        run: |
          export VERSION="${{needs.build.outputs.version}}"
          export SHA256_MAC=$(shasum -a 256 kiek-aarch64-apple-darwin.tar.gz | cut -d ' ' -f 1)
          export SHA256_LINUX=$(shasum -a 256 kiek-x86_64-unknown-linux-gnu.tar.gz | cut -d ' ' -f 1)
          sed "s/%VERSION%/$VERSION/g ; s/%SHA256_MAC%/$SHA256_MAC/g ; s/%SHA256_LINUX%/$SHA256_LINUX/g" .github/workflows/files/kiek.rb > kiek.rb
      - name: Upload Homebrew formula
        uses: actions/upload-artifact@v4
        with:
          name: brew-formula
          path: kiek.rb
    outputs:
      url: ${{ steps.release.outputs.url }}
      release: ${{ steps.release.outputs.id }}
  homebrew-pr:
    name: Create Homebrew formula PR
    if: startsWith(github.head_ref, 'release/') && github.event.pull_request.merged == true
    needs:
        - build
        - release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          repository: wulf-data-engineering/homebrew-tap
          token: ${{ secrets.BREW_TAP_PAT }}
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: brew-formula
      - name: Upload Homebrew formula
        run: mv kiek.rb Formula/kiek.rb
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.BREW_TAP_PAT }}
          title: 'Update formula for kiek ${{needs.build.outputs.version}}'
          commit-message: 'Update formula for kiek ${{needs.build.outputs.version}}'
          body: 'Make sure that [release **${{needs.release.outputs.release}}**](${{needs.release.outputs.url}}) has been published before merging!'
          branch: 'kiek-v${{needs.build.outputs.version}}'
          draft: true
